.App {
  background-color: rgb(58, 29, 75);
  color: #ffffff;
}

.nav-item {
  font-size: 18px;
  color: white;
}

.nav-item:visited {
  color: lightblue;
}

nav {
  margin: 20px;
  text-align: center;
}
