.App {
  background-color: rgb(58, 29, 75);
  color: #ffffff;
}

.nav {
  text-align: center;
}

.nav-item {
  font-size: 18px;
  color: white;
}

.nav-item:visited {
  color: lightblue;
}

.footer {
  text-align: left;
}
