.App-header {
  background-color: rgb(199, 189, 216);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border: 3px solid grey;
}

.p {
  font-size: calc(10px + 2vmin);
}
